on: 
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
name: Slack Notification Demo
jobs:
  getPr:
    name: get Pr
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo $(curl \                                                                                                                                                                   j.jang@Mac-139
          -H "Accept: application/vnd.github.groot-preview+json" \
          https://api.github.com/repos/jang-junsu/test_g_action/commits/1414655/pulls | jq -r '.[].number')

#   slackNotification:
#     name: Slack Notification
#     runs-on: ubuntu-latest
#     steps:
#     - uses: actions/checkout@v2
#     - name: Slack Notification
#       uses: rtCamp/action-slack-notify@v2
#       env:
#         SLACK_COLOR: ${{ job.status }}
#         SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
#         SLACK_MESSAGE: 'Post Content :rocket:'
#         SLACK_TITLE: ${{ github.sha }}
#         SLACK_ICON_EMOJI: ':junsu:'
#         SLACK_USERNAME: 'Master Notifier'

