on: 
  push:
    branches:
      - main
name: Slack Notification Demo
jobs:
  getPr:
    name: get Pr
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo $GITHUB_REF

#   slackNotification:
#     name: Slack Notification
#     runs-on: ubuntu-latest
#     steps:
#     - uses: actions/checkout@v2
#     - name: Slack Notification
#       uses: rtCamp/action-slack-notify@v2
#       env:
#         SLACK_COLOR: ${{ job.status }}
#         SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
#         SLACK_MESSAGE: 'Post Content :rocket:'
#         SLACK_TITLE: ${{ github.sha }}
#         SLACK_ICON_EMOJI: ':junsu:'
#         SLACK_USERNAME: 'Master Notifier'

